:root{
    --main-bg-color: #FEF4ED;
}

body, html {
    font-family: syste-ui;
    background: var(--main-bg-color);
    height: 100%;
    padding: 0;
    margin: 0;;
}

.drop-zone {
    width: 500px;
    min-height: 200px;
    border: 2px solid ;
}